.about__container {
    display: grid;
    gap: 15%;
}

.container.about__container {
    width: var(--container-width-lg)
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;

    transition: height 1s ease-in-out;
}

.card__element {
    text-align: left;
}

.about__content .about__paragraph {
    margin: 2rem 10rem 2.6rem;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.about__header {
    font-weight: bold;
}

.about__card:hover {
    background: var(--color-primary-variant);
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

.title {
    font-size: 2rem;
}

.fnt-3 {
    font-size: 1.8rem;
}

.fnt-2 {
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
    .about__container {
       grid-template-columns: 1fr;
       gap: 1rem;
    }

    .title {
        font-size: 1rem;
    }

    .fnt-3 {
        font-size: 0.8rem;
    }

    .fnt-2 {
        font-size: 0.5rem;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .about__cards {
        grid-template-columns: 1fr ;
        gap: 1rem;
    }

    .title {
        font-size: 0.5rem;
    }

    .fnt-3 {
        font-size: 0.5rem;
    }
    
    .fnt-2 {
        font-size: 0.2rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content .about__paragraph {
        margin: 1.5rem 3rem;
    }

    .about__paragraph {
        max-height: 20rem;
        font-size: calc(0.7vw + 0.7vh);
    }

    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }
}